body {
    color: #999;
}
#square {
    border: 1px solid orange;
    width: 200px;
    height: 100px;
}

form {
    margin-top: 200px;
}
#username:focus {
    border: 2px solid orange;
}
.focus-red {
    color: red;
}