* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    max-width: 600px;
    margin: 0 auto;
}

.text-center {
    text-align: center;
}
.my-3 {
    margin-block: 2.5rem;
}
#regForm {
    border-radius: .5rem;
    padding: 1rem;
    box-shadow: 3px 3px 6px #999;
}
.form-group {
    margin-bottom: 1.3rem;

    & label {
        display: block;
        font-size: 0.95rem;
    }
}
.form-control {
    width: 100%;
    padding: 0.4em;
    font-size: 1rem;
    border: 1px solid #333;
}

.error {
    font-size: 0.8rem;
    color: red;
}
.btn {
    padding: .5em 2.4em;
    border: 0;
    background-color: darkslateblue;
    color: white;
    border-radius: 0.4em;
    cursor: pointer;
}