@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600;800&display=swap');

* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Playfair Display', serif;
}
.container {
    width: 90%;
    margin: 2rem auto;
    max-width: 1000px;
}

.btn {
    background-color: transparent;
    border: 0;
}
.btn-primary {
    background-color: darkblue;
    color: white;
    padding: 1em 2em;
    border-radius: 1.5rem;
    display: inline-block;
    font-weight: 800;
    cursor: pointer;
}

img {
    width: 100%;
    height: 100%;
}

header {
    background-image: url('https://plus.unsplash.com/premium_photo-1681628908641-64c458f24acd?w=400&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwxMnx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.heading {
    font-size: 5rem;
}
.post {
    display: flex;
    border-bottom: 1px solid #eee;
    margin-bottom: 2rem;
    padding-bottom: 2rem;
}
.post:nth-child(even) {
    flex-direction: row-reverse;
}
.img-container  {
    height: 250px;
    flex: 1;

    & img {
        object-fit: cover;
    }
}
.content {
    flex: 1;
    padding: 1rem 3rem;
    position: relative;
}
.content_title {
    text-align: left;
    font-size: 1.6rem;
    margin-bottom: 1rem;
}
.info, .categories {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: .8rem;

}
.info {
    margin-bottom: 1rem;
}
.categories {
    gap: 1rem;
}
.categories li {
    list-style: none;
    background-color: #eee;
    border-radius: 1rem;
    padding: 0.3em 1em;
}

.post_body {
    overflow: hidden;
    text-overflow: ellipsis;
}

.bottom-right {
    position: absolute;
    bottom: 1rem;
    right: 2rem;
}

.mb-2 {
    margin-bottom: 2rem;
}
.flex {
    display: flex;
}
.flex-end {
    justify-content: end;
}


/* form stuff */

.input-group {
    margin-bottom: 1rem;
}
.form-label {
    display: block;
    margin-bottom: .9rem;
}
.form-control {
    width: 100%;
    font-size: 1rem;
    padding: .5rem;
    border-radius: 1em;
    border: 1px solid #858585;
}
.error {
    color: firebrick;
    font-size: .9rem;
}
.tooltip {
    color: #999;
}
.row {
    display: flex;
    gap: 2rem;
}